*{
    padding: 0;
    margin-left: 0%;
}

.GridContainer{
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0;
    display: grid;
    grid-template-columns: .75fr 2fr 2fr;
    grid-template-rows: minmax(1fr,auto);
    overflow-x: hidden;
  
}               

.Cardstyle{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #333333;
    margin: 2%;
}

.Cardstyle p{
    margin: 3%;
}


.Card{
    background: #ffffff;
}

.View{
    background: rgb(76, 160, 172);
    display: flex;
}
.GridItem1, .GridItem2, .GridItem3, .GridItem4, .GridItem5{ margin:2%;}
.GridItem1{
    grid-column: 2/4;
}
.GridItem2{
    grid-column: 2/4;
    grid-row: 2;
}.GridItem3{
}.GridItem4{
}.GridItem5{
}

.Item1{
    display: flex;
    justify-content: space-around;
}
.Item2{
    display: flex;
    flex-direction: column; 
}
.Item2 Select {
    margin: 1% 60% 1% 0%;
}
.Item4{
    display: flex;
    justify-content: space-around;
}
.Item5{
    grid-column: 2/4;
}

/* side bar */
.Sidebar{
    text-align: center;
    color: white;
    height: 100%;
    background: rgb(30, 47, 63);
    overflow-x: hidden;
    grid-area: "sidebar";
    grid-column: 1 / 2;
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
}
 a {
    height: 100%;
    padding: 10%;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

ul{
    width: 100%;
}
ul li{
    list-style: none;
    padding: 5%;
    margin-bottom: 1%;
    text-align: center;
}
ul li:hover{
    background: rgb(34, 51, 68);
}

/* Table */

tr:nth-child(even) {
    background-color: rgb(251, 251, 253);
}
thead, td{
    text-align: center;
    padding: 0.5%;
}
thead{
    width: 100%;
    background: rgb(76, 160, 172);
    color: #ffffff;
    font-weight: normal;
    padding: 10%;
}
th{
    height: 20%;
}

table{
    border-collapse: collapse;
}

.Expense {
    background-color: white;
    margin-right: 3%;
    width: 150px;
    height: 170px;
    border-radius: 3px;
    overflow: visible;
    border-top: 10px solid rgb(230, 85, 85);
    text-align: center;
  }
 .CardLayout{
     display: flex;
     flex-direction: row;
     
 }
/* Form */
Form{
    padding: 1%;
    display: flex;
    flex-direction: column;
    display: block;
}
Form > * {
    margin: 2%;

}
input{
    padding: 1%;
}

Button{
    background: rgb(76, 160, 172);
    color: #ffffff; 
    border-style: none;
    padding: 1.5%;
}
Select{padding: 1.5%;}


hr{
    border: .2px solid rgb(237, 242, 246);
}